/*
 * Go Bananas
 *
 * Authentication css
 */
/*
 * Go Bananas
 *
 * Mixins scss
 */
/**
 * Go Bananas
 *
 * Elements css
 */
/*
 * Go Bananas
 *
 * Mixins scss
 */
/**
 * FORM Elements
 */
/* line 13, ../../../../../panel/themes/default/sass/_elements.scss */
form {
  padding: 1.3rem;
  margin: 0 1rem;
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #f0c440;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #e4ba3c 0px 1px 0px;
  -webkit-box-shadow: #e4ba3c 0px 1px 0px;
  box-shadow: #e4ba3c 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 18, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field {
  margin-bottom: 1rem;
  display: table;
  width: 100%;
}
/* line 24, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field span.error-message {
  display: none;
}
/* line 28, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field span.field-addon {
  display: table-cell;
  width: 1%;
  padding: 0 0.65rem;
  vertical-align: middle;
  color: #aeaeae;
  background-color: #f4f4f4 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #dddddd 0px 1px 0px;
  -webkit-box-shadow: #dddddd 0px 1px 0px;
  box-shadow: #dddddd 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0px none;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 36, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field span.field-addon i {
  margin-top: 1px;
}
/* line 40, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field span.field-addon + input {
  display: table-cell;
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #dddddd 0px 1px 0px;
  -webkit-box-shadow: #dddddd 0px 1px 0px;
  box-shadow: #dddddd 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #e9e9e9;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 46, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field input {
  border: 0px;
  width: 100%;
  height: 2.25rem;
  padding-left: 1rem;
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #dddddd 0px 1px 0px;
  -webkit-box-shadow: #dddddd 0px 1px 0px;
  box-shadow: #dddddd 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field.required span.field-addon {
  color: #ff9393;
  background-color: #ffd3d3 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #ff9393;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #f28b8b 0px 1px 0px;
  -webkit-box-shadow: #f28b8b 0px 1px 0px;
  box-shadow: #f28b8b 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0px none;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 60, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field.required span.field-addon + input {
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #ff9393;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #f28b8b 0px 1px 0px;
  -webkit-box-shadow: #f28b8b 0px 1px 0px;
  box-shadow: #f28b8b 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #ff9393;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 65, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field.required span.error-message {
  display: block;
  position: absolute;
  width: 0px;
  overflow: hidden;
  height: 2.25rem;
  vertical-align: middle;
  margin-left: 3.7rem;
  font-size: 0.7em;
  line-height: 2.25rem;
  color: #ff9393;
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #ff9393;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #f28b8b 0px 1px 0px;
  -webkit-box-shadow: #f28b8b 0px 1px 0px;
  box-shadow: #f28b8b 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0px none;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 0px none;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 79, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field.required input {
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #ff2727;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #f22525 0px 1px 0px;
  -webkit-box-shadow: #f22525 0px 1px 0px;
  box-shadow: #f22525 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 84, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field.error {
  background-color: #ffd3d3 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #ff9393;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #f28b8b 0px 1px 0px;
  -webkit-box-shadow: #f28b8b 0px 1px 0px;
  box-shadow: #f28b8b 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.7em;
  font-weight: bold;
  color: #ff2727;
  padding-left: 1rem;
  vertical-align: middle;
  display: none;
}
/* line 93, ../../../../../panel/themes/default/sass/_elements.scss */
form div.field.error span {
  line-height: 2.25rem;
}
/* line 99, ../../../../../panel/themes/default/sass/_elements.scss */
form div.submit {
  text-align: center;
}
/* line 102, ../../../../../panel/themes/default/sass/_elements.scss */
form div.submit input[type="submit"] {
  height: 2.25rem;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0 2rem;
  margin-bottom: 1rem;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0;
  background-color: #453519 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #453519;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #110d06 0px 1px 0px;
  -webkit-box-shadow: #110d06 0px 1px 0px;
  box-shadow: #110d06 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../../../../../panel/themes/default/sass/authentication.scss */
html body {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
html body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, ../../../../../panel/themes/default/sass/authentication.scss */
div.login {
  width: 100%;
}
/* line 25, ../../../../../panel/themes/default/sass/authentication.scss */
div.login figure {
  text-align: center;
  padding-bottom: 1rem;
}
/* line 30, ../../../../../panel/themes/default/sass/authentication.scss */
div.login figure img.logo {
  width: 50%;
  height: auto;
}
/* line 37, ../../../../../panel/themes/default/sass/authentication.scss */
div.login form div.links {
  text-align: center;
}
