/*
 * Go Bananas
 *
 * Authentication css
 */

@import "compass";
@import "susy";
@import "mixins";
@import "elements";

html {
	body {
		@include container(30em);
		padding: {
			top: 4rem;
			bottom: 4rem;
		}
	}
}

div.login {
	width: 100%;

	figure {
		text-align: center;
		padding: {
			bottom: 1rem;
		}
		img.logo {
			width: 50%;
			height: auto;
		}
	}

	form {
		div.links {
			text-align: center;
		}
	}
}