/*
 * Go Bananas
 *
 * Authentication css
 */

@import "compass";
@import "susy";
@import "mixins";

html {
	body {
		@include container(600px);
		padding: {
			top: 4em;
			bottom: 4em;
		}
	}
}

div.login {
	width: 100%;

	figure {
		text-align: center;
		padding: {
			bottom: 1em;
		}
		img.logo {
			width: 50%;
			height: auto;
		}
	}

	form {
		background-color: #ffffff;
		padding: 1.3em;
		margin: 0 1em;

		@include boxed(#f0c440);
		@include box-sizing(border-box);

		div.field {
			input {
				width: 100%;
				height: 3em;
				margin-bottom: 1.5em;
				padding-left: 1em;

				@include boxed(#e9e9e9);
				@include box-sizing(border-box);

				&.required {
					@include boxed(#fda0a0);
				}
			}
		}

		div.submit {
			text-align: center;
			
			input[type="submit"] {
				@include button(#453519);
			}
		}
		div.links {
			text-align: center;
		}
	}
}