/*
 * Go Bananas
 *
 * Main scss
 */

@import "compass";
@import "compass/reset";
@import "susy";
@import "colors";

*:focus { 
	outline: 0 !important; 
	outline: none !important;
}

html {
	$default_color: #f0c440;

	height: 100%;
	font-family: "arial";
	font-size: 1em;

	body {
		background: tint($default_color, 90%);
		@include container(80em);

		a {
			color: shade($default_color, 5%);
			text-decoration: none;
			font-size: 0.7em;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}