/*
 * Go Bananas
 *
 * Main scss
 */

@import "compass";
@import "compass/reset";
@import "susy";

*:focus { 
	outline: 0 !important; 
	outline: none !important;
}

html {
	height: 100%;
	font-family: "arial";
	font-size: 1em;
	background: #ebe5d3;

	body {
		@include container(80em);

		a {
			color: #ebb000;
			text-decoration: none;
			font-size: 0.7em;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}