/*
 * Go Bananas
 *
 * Authentication css
 */
/*
 * Go Bananas
 *
 * Mixins scss
 */
/* line 12, ../sass/authentication.scss */
html body {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  padding-bottom: 4em;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
html body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 21, ../sass/authentication.scss */
div.login {
  width: 100%;
}
/* line 24, ../sass/authentication.scss */
div.login figure {
  text-align: center;
  padding-bottom: 1em;
}
/* line 29, ../sass/authentication.scss */
div.login figure img.logo {
  width: 50%;
  height: auto;
}
/* line 35, ../sass/authentication.scss */
div.login form {
  background-color: #ffffff;
  padding: 1.3em;
  margin: 0 1em;
  border: 1px solid #f0c440;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-box-shadow: #e4ba3c 0px 1px 0px;
  -webkit-box-shadow: #e4ba3c 0px 1px 0px;
  box-shadow: #e4ba3c 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 41, ../sass/authentication.scss */
div.login form div.field {
  margin-bottom: 1.5em;
}
/* line 44, ../sass/authentication.scss */
div.login form div.field input {
  width: 100%;
  height: 3em;
  padding-left: 1em;
  border: 1px solid #e9e9e9;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-box-shadow: #dddddd 0px 1px 0px;
  -webkit-box-shadow: #dddddd 0px 1px 0px;
  box-shadow: #dddddd 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 50, ../sass/authentication.scss */
div.login form div.field input.required {
  border: 1px solid #fda0a0;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  -moz-box-shadow: #f09898 0px 1px 0px;
  -webkit-box-shadow: #f09898 0px 1px 0px;
  box-shadow: #f09898 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 54, ../sass/authentication.scss */
div.login form div.field.error {
  padding-left: 1em;
  font-size: 0.7em;
  font-weight: bold;
  color: #ff2727;
}
/* line 62, ../sass/authentication.scss */
div.login form div.submit {
  text-align: center;
}
/* line 65, ../sass/authentication.scss */
div.login form div.submit input[type="submit"] {
  border: 0px;
  background-color: #453519;
  height: 3em;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0 2em;
  margin-bottom: 1em;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
/* line 69, ../sass/authentication.scss */
div.login form div.links {
  text-align: center;
}
