/*
 * Go Bananas
 *
 * Authentication css
 */
/*
 * Go Bananas
 *
 * Mixins scss
 */
/**
 * Go Bananas
 *
 * Elements css
 */
/*
 * Go Bananas
 *
 * Mixins scss
 */
/**
 * FORM Elements
 */
/* line 13, ../sass/_elements.scss */
form {
  padding: 1.3em;
  margin: 0 1em;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #f0c440;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #e4ba3c 0px 1px 0px;
  -webkit-box-shadow: #e4ba3c 0px 1px 0px;
  box-shadow: #e4ba3c 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 18, ../sass/_elements.scss */
form div.field {
  margin-bottom: 1em;
  display: table;
  width: 100%;
}
/* line 24, ../sass/_elements.scss */
form div.field span.field-addon {
  display: table-cell;
  width: 1%;
  padding: 0 0.5em;
  vertical-align: middle;
  color: #aeaeae;
  background-color: #f4f4f4;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #dddddd 0px 1px 0px;
  -webkit-box-shadow: #dddddd 0px 1px 0px;
  box-shadow: #dddddd 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0px none;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 32, ../sass/_elements.scss */
form div.field span.field-addon i {
  margin-top: 1px;
}
/* line 36, ../sass/_elements.scss */
form div.field span.field-addon + input {
  display: table-cell;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #dddddd 0px 1px 0px;
  -webkit-box-shadow: #dddddd 0px 1px 0px;
  box-shadow: #dddddd 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #e9e9e9;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 42, ../sass/_elements.scss */
form div.field input {
  border: 0px;
  width: 100%;
  height: 3em;
  padding-left: 1em;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e9e9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #dddddd 0px 1px 0px;
  -webkit-box-shadow: #dddddd 0px 1px 0px;
  box-shadow: #dddddd 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 52, ../sass/_elements.scss */
form div.field.required span.field-addon {
  color: #f09898;
  background-color: #fecfcf;
  border-width: 1px;
  border-style: solid;
  border-color: #fda0a0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #f09898 0px 1px 0px;
  -webkit-box-shadow: #f09898 0px 1px 0px;
  box-shadow: #f09898 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 0px none;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 56, ../sass/_elements.scss */
form div.field.required span.field-addon + input {
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #fda0a0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #f09898 0px 1px 0px;
  -webkit-box-shadow: #f09898 0px 1px 0px;
  box-shadow: #f09898 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #fda0a0;
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 60, ../sass/_elements.scss */
form div.field.required input {
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #fda0a0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #f09898 0px 1px 0px;
  -webkit-box-shadow: #f09898 0px 1px 0px;
  box-shadow: #f09898 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 65, ../sass/_elements.scss */
form div.field.error {
  padding-left: 1em;
  font-size: 0.7em;
  font-weight: bold;
  color: #ff2727;
}
/* line 73, ../sass/_elements.scss */
form div.submit {
  text-align: center;
}
/* line 76, ../sass/_elements.scss */
form div.submit input[type="submit"] {
  height: 3em;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0 2em;
  margin-bottom: 1em;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0;
  background-color: #453519;
  border-width: 1px;
  border-style: solid;
  border-color: #453519;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: #110d06 0px 1px 0px;
  -webkit-box-shadow: #110d06 0px 1px 0px;
  box-shadow: #110d06 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/authentication.scss */
html body {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  padding-bottom: 4em;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
html body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, ../sass/authentication.scss */
div.login {
  width: 100%;
}
/* line 25, ../sass/authentication.scss */
div.login figure {
  text-align: center;
  padding-bottom: 1em;
}
/* line 30, ../sass/authentication.scss */
div.login figure img.logo {
  width: 50%;
  height: auto;
}
/* line 37, ../sass/authentication.scss */
div.login form div.links {
  text-align: center;
}
