/*
 * Go Bananas
 *
 * Main scss
 */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * Go Bananas
 *
 * Color scss
 */
/*
 * Go Bananas
 *
 * Mixins scss
 */
/* line 18, ../sass/_colors.scss */
html body.bananas {
  background: #fdf9eb !important;
}
/* line 20, ../sass/_colors.scss */
html body.bananas a {
  color: #e4ba3c !important;
}
/* line 21, ../sass/_colors.scss */
html body.bananas form {
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #f0c440;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #e4ba3c 0px 1px 0px;
  -webkit-box-shadow: #e4ba3c 0px 1px 0px;
  box-shadow: #e4ba3c 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 22, ../sass/_colors.scss */
html body.bananas form div.submit input[type="submit"] {
  height: 2.25rem;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0 2rem;
  margin-bottom: 1rem;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0;
  background-color: #453519 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #453519;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #110d06 0px 1px 0px;
  -webkit-box-shadow: #110d06 0px 1px 0px;
  box-shadow: #110d06 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 18, ../sass/_colors.scss */
html body.awesome-green {
  background: #f5fae8 !important;
}
/* line 20, ../sass/_colors.scss */
html body.awesome-green a {
  color: #95c918 !important;
}
/* line 21, ../sass/_colors.scss */
html body.awesome-green form {
  background-color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
  border-color: #9dd41a;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #95c918 0px 1px 0px;
  -webkit-box-shadow: #95c918 0px 1px 0px;
  box-shadow: #95c918 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 22, ../sass/_colors.scss */
html body.awesome-green form div.submit input[type="submit"] {
  height: 2.25rem;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0 2rem;
  margin-bottom: 1rem;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0;
  background-color: #453519 !important;
  border-width: 1px;
  border-style: solid;
  border-color: #453519;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -moz-box-shadow: #110d06 0px 1px 0px;
  -webkit-box-shadow: #110d06 0px 1px 0px;
  box-shadow: #110d06 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/theme.scss */
*:focus {
  outline: 0 !important;
  outline: none !important;
}

/* line 17, ../sass/theme.scss */
html {
  height: 100%;
  font-family: "arial";
  font-size: 1em;
}
/* line 24, ../sass/theme.scss */
html body {
  background: #fdf9eb;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
html body:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 28, ../sass/theme.scss */
html body a {
  color: #e4ba3c;
  text-decoration: none;
  font-size: 0.7em;
}
/* line 33, ../sass/theme.scss */
html body a:hover {
  text-decoration: underline;
}
