doctype html
html
	head
		title Go Bananas
		link(rel='stylesheet', href='/panel/themes/default/css/theme.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
		
		block head

	body.bananas
		
		block page
		
		script(src='/panel/themes/default/js/script.js')